/* Main container Album */

.main-container-artist {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.play-song-similar-artist {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.album-container {
  display: flex;
  flex-direction: row;
  margin-top: 112px;
  width: 60%;
  align-items: center;
  background-color: #101743;
}
.album-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
}
.album-container img {
  height: 383px;
  width: auto;
}

.album-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 63px;
}

.followers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  bottom: 5%;
}

.white {
  color: white;
  font-weight: 700;
}
.para-color {
  color: #a1a3b3;
}

.play-title {
  font-size: 28px;
}
.title-details {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.play-button {
  color: #f7f1fb;
  background-image: linear-gradient(
    to right,
    #3725b1,
    #4126b3,
    #522cb8,
    #6f33c2,
    #7b36c7,
    #973cd0,
    #a641d7,
    #b846dd,
    #c148df
  );
  border: 0;
  width: 8rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.follow-button {
  background-color: transparent;
  color: #f1f1f4;
  border: 0;
  width: 8rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-left: 8px;
}

.track {
  color: lightsteelblue;
  margin-top: 8px;
  font-size: 0.8rem;
}

/* Similar artist section */

.similar-artist {
  display: flex;
  flex-direction: column;
  margin-top: 131px;
  width: 30%;
  margin-left: 29px;
}
.similar-artist-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-artist-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
}
.similar-artist-item-container img {
  width: 90px;
  height: 100px;
}
.similar-artist-item {
  display: flex;
  flex-direction: row;
}

.view-all {
  font-size: 0.8rem;
  color: #a1a3b3;
}
.similar-artist-song-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.similar-artist-singer {
  margin-top: 10px;
  font-size: 0.8rem;
}

.play-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Song list and recent playlist */
.song-list-recent-playlist {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}

.songs-container {
  display: flex;
  flex-direction: column;

  width: 60%;
}

.song-item-container {
  display: flex;
  justify-content: space-between;
  background-color: #171b2a;
  margin-bottom: 10px;
  height: 80px;
}
.song-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 1rem;
  padding: 20px;
}

.song-item img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.song-list-singer {
  margin-top: 0.4rem;
}

.song-btn {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  padding: 20px;
  color: lightslategray;
  align-items: center;
}

.song-btn .fa-heart {
  margin-right: 20px;
}
.recent-play {
  display: flex;
  flex-direction: column;
  width: 31%;
  margin-left: 29px;
  margin-top: 20px;
}

.recent-song-btn {
  display: flex;
  align-self: center;
  margin-right: 8px;
}

.recent-h3 {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }

  .play-song-similar-artist {
    flex-direction: column;
  }
  .album-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-top: 42px;
  }
  .album-details {
    width: 100%;
  }
  .album-container img {
    height: auto;
    width: 100%;
  }
  .similar-artist {
    margin-top: 34px;
  }
  .view-all {
    margin-left: 155px;
  }
  .songs-container {
    width: 100%;
  }
  .song-list-recent-playlist {
    flex-wrap: wrap;
  }
}
